---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  canonical?: string;
}

const { title, description, image, canonical } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} canonical={canonical}>
  <div class="max-w-7xl mx-auto px-6">
    <slot />
  </div>
</BaseLayout>
